@import "../../assets//scss/utils/mixins";

.Topbar_Container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    position: relative;
    

    
    .Logo{
        margin: 20px 25px;

        img{
            margin: 20px 5px;
            width: 160px;
            height: 70.19px;
            flex-shrink: 0;
        }
    }

    .Topbar_Links{

        .Link_head{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            gap: 33px;
            list-style: none;
            li{
                .Link{
                    text-decoration: none;
                    color: #C4BD54;
                    text-align: center;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 18px; 
                }
            }
        }
        hr{
            width: 52px;
            height: 2px;
            flex-shrink: 0;
        }

    }

    .Lang{
        display: flex;
        align-items: center;
        margin-inline-end: 30px;

        .icon{
            margin-inline-end: 10px;
        }
        .lang_Button{
            .dropdown-toggle::after {
                display: none !important; 
              }
            .DropBtn{
                display: flex;
                border-color: #C4BD54;
                padding: 11px 22px;
                justify-content: flex-end;
                align-items: center;
                gap:8px;
                border-radius: 8px;
                background: #C4BD54;
                .Dropdown-Menu{
                    width: 20px;
                } 
            }
            .DropItem{
                text-align: center;

            }
        }

    }
    }


    .title{
        position: relative;
        text-align: center;
        margin-top: 35px;
        img{
            margin: 5px;
        }
        .Logo_title{
            margin: 25px 5px;
            color: var(--Neutral-Colors-White, #FFF);
            text-align: center;
            color: #A3A073;
            font-family: Poppins;
            font-size: 55px;
            font-style: normal;
            font-weight: 700;
            background: linear-gradient(180deg, #FBF6AC 0%, #999561 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;

        }
    }



    .Contact_us{
        position: relative;
        display: flex;
        justify-content: center;
        text-align: center;

       .OurBtn{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 226px;
            height: 66px;
            padding: 0px 54px 0px 53px;
            flex-shrink: 0;
            box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
            margin-inline-end: 20px;
            margin-block-start: 20px;
            font-size: 14px;
            line-height: 18px; 
            border-radius: 8px;
            background: var(--Neutral-Colors-White, #FFF);
            color: #161618;
            border: 1px solid #FFF;
            font-family: Poppins;
            font-style: normal;
            font-weight: 500;
            
            &:hover{
                background-color: #A3A073;
                border: 1px solid #A3A073;
                color: #FFFFFF;
            }
            &:hover svg path{
                stroke: #fff;

            }

            svg{
                margin-top: 3px;
                path{
                    stroke: #161618;
                   }



                }
            }
        }
        .contactBTn{
            width: 226px;
            height: 66px;
            padding: 0px 54px 0px 53px;
            flex-shrink: 0;
            box-shadow: 0px 4px 10px 0px rgba(20, 20, 43, 0.04);
            margin-inline-end: 20px;
            margin-block-start: 20px;
            font-size: 16px;
            line-height: 18px; 
            border-radius: 8px;
            background-color: transparent;
            color: #fff;
            border: 1px solid #FFF;
            font-family: Poppins;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px; /* 112.5% */
            

            &:hover{
                background-color: #A3A073;
                border: 1px solid #A3A073;
                color: #FFFFFF;
            }

        }

    

    .Arrow{
        position: relative;
        text-align: center;
        margin: 50px;
    }