.Home_Header{
    width: 100%;
    height: 700px;
    flex-shrink: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../assets/images/backg.png);
     position: relative;
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.7);


    }

}
