@import "../../assets//scss//utils/mixins";

.Head{
    margin-top: 150px;
    .Title_Section{
        text-align: center;
        margin-top: 30px;
        position: relative;
        h2{
            font-size: 110px;
            color: #eee;
            padding: 20px 6px;
            text-align: center;
            font-family: Poppins;
            font-style: normal;
            font-weight: 600;
            @include xs {
                font-size: 70px;
            }
            @include sm {
                font-size: 75px;


            }
            @include md {
                font-size: 80px;

            }



        }
        .image{
            position: absolute;
            top: 44%;
            left: 44%;

            @include xs {
                top: 44%;
                left: 32%;
    
            }
            @include sm {
                top: 44%;
                left: 28%;

            }


            h3{
                color: #A3A073;
                text-align: center;
                font-family: Poppins;
                font-size: 34px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
    
    
            }
    
           
        }


    }



//title group TRILLIONI GROUP
    .Tile_Group{
        margin-top: 20px;
        h3{
            height: 53px;
            flex-shrink: 0;
            border-radius: 8px;
            background: rgba(163, 160, 115, 0.37);
            width: 442px;
            line-height: 55px;
            text-align: center;
            font-weight: bold;
            @include xs {
                width: 442px;
                height: 53px;
                font-size: 30px;

            }
            @include sm {
                width: 450px;
                height: 50px;
                font-size: 30pxpx;

               

            }


        }
    }
//Descreption


    .Desc_Head{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        

        .Desc{
            margin-top: 30px;

            p{
                color: #666;
                text-align: justify;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 40px; /* 250% */
            }
            .Btn{
                height: 66px;
                padding: 0px 48px 0px 47px;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                border-radius: 8px;
                background: var(--Neutral-Colors-White, #FFF);
                margin-bottom: 10px;
                svg{
                    path{
                        stroke: black;
                    }
                }
                &:hover {
                    border: 1px solid #A3A073;
                    background: #A3A073;
                    color: #fff;
                }
                &:hover svg path{
                    stroke: #fff;

                     
                }
            }

            }
        }



    }



