@import "../../assets//scss//utils/mixins";

.Contact_Container{
    margin-top: 80px;

    .Title_Section{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 40px;
        position: relative;
        h2{
            font-size: 140px;
            color: #eee;
            padding: 20px 6px;
            text-align: center;
            ;
            font-style: normal;
            font-weight: 600;
            @include xs {
                font-size: 70px;
            }
            @include sm {
                font-size: 75px;


            }
            @include md {
                font-size: 80px;

            }

        }

        .image{
            position: absolute;
            top: 42%;
            left: 43%;

            @include xs {
                top: 44%;
                left: 32%;
    
            }
            @include sm {
                top: 44%;
                left: 28%;

            }

            h3{
                color: #A3A073;
                text-align: center;
                ;
                font-size: 34px;
                font-style: normal;
                font-weight: 600;
                line-height: 18px;
            }
    
           
        }


    }

    .Contact_us{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .Contact_inputs{
            margin-inline-end: 30px;

            .input{
                display: block;
                color: #BBB;
                font-feature-settings: 'clig' off, 'liga' off;
                ;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px; 
                width: 596px;
                height: 72px;
                padding: 0px 447px 0px 24px;
                align-items: center;
                flex-shrink: 0;
                border-radius: 8px;
                border: 1px solid #A3A073;
                margin: 14px 5px;
            }
            .input_TextArea{
                display: inline-flex;
                color: #BBB;
                font-feature-settings: 'clig' off, 'liga' off;
                ;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px; 
                align-items: center;
                flex-shrink: 0;
                border-radius: 8px;
                border: 1px solid #A3A073;
                margin: 14px 5px;
                height: 152px;
                padding: 31px 294px 110px 24px;
                align-items: center;
                flex-shrink: 0;

            }
            .Btn_Input{
                display: flex;
                align-items: center;
                .Btn{
                    display: inline-flex;
                    color: #161618;
                    font-feature-settings: 'clig' off, 'liga' off;
                    ;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 18px; /* 100% */
                    height: 66px;
                    padding: 0px 27px 0px 35px;
                    justify-content: flex-end;
                    align-items: center;
                    flex-shrink: 0;
                    border-radius: 8px;
                    background:#fff ;
                    border: 0.5px solid #A3A073;
                    text-align: start;
                    svg{
                        path{
                            stroke:#161618;
                            margin: 1px;
                        }
                    }

                &:hover{
                    background-color: #A3A073;
                    color: #fff;
                }
                &:hover svg path {
                    stroke: #eee;

                }
    
    
    
    
                }
    


            }

        }
        .Contact_social{
            margin-inline-start: 30px;

            .social{
                display: flex;
                align-items: center;
                margin: 12px;
                line-height: 35px;


                .icon{
                    border: 1px solid #f5f2f2;
                    padding: 10px;
                    background-color: #F3F3ED;
                    margin-inline-end: 24px;
                    border-radius: 10px;
                    svg{
                        path{
                            fill: #A3A073;
                        }
                    }

                
                    img{
                        width: 40px;
                        height: 40px;
                        flex-shrink: 0;
    
                    }
    
                }
                p{
                    color: #161618;
                    font-feature-settings: 'clig' off, 'liga' off;
                    ;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 30px; /* 166.667% */

                }
            }
        }
    }


}