footer{
    margin-top: 130px;
    width: 100%;
    flex-shrink: 0;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url(../../assets/images/backg.png);
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
    }

    .Head_Container{
        padding: 20px 20px;
        position: relative;
    .Head{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-top: 50px;
        .Logo{
            position: relative;
            margin: 5px;

            img{
                width: 140px;
                height: 140px;
                flex-shrink: 0;
                position: relative;

            }
        }
        .Content{
            position: relative;
            margin: 5px;

            h4{
                color: #A3A073;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 18px; /* 90% */

            }

            hr{
                width: 83px;
                height: 4px;
                background-color: #A3A073;
            }
            .Content_items{
                padding:0;
                margin: 0;

                li{
                    color: #A3A073;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    list-style: none;
                    line-height: 18px;
                    margin-top: 10px;
                    padding: 0; 

                }
            }
        }
        .Our_Compaines{
            margin: 5px;
            h4{
                color: #A3A073;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 18px; /* 90% */

            }
            hr{
                width: 120px;
                height: 4px;
                background-color: #A3A073;

            }

            .Compaines_item{
                padding:0;
                margin: 0;
                li{
                    color: #A3A073;
                    font-feature-settings: 'clig' off, 'liga' off;
                    font-family: Poppins;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 18px; 
                    list-style: none;
                    margin-top: 10px;
                    padding: 0; 

                }
            }

        }
        .social{
            margin: 5px;
            h3{
                color: #A3A073;
                font-feature-settings: 'clig' off, 'liga' off;
                font-family: Poppins;
                font-size: 19px;
                font-style: normal;
                font-weight: 700;
                line-height: 18px; /* 90% */

            }
            hr{
                   width: 140px;
                height: 4px;
                background: #A3A073;
            }
            .images{
                display: flex;
                align-items: center;
                padding: 0;
                margin: 0;
                li{
                    list-style: none;
                    margin-inline-end: 5px;
                }
            }
        }
    }
}



.hr{
    height: 2px;
    background: #A3A073;
}
.p{
    
    color: #A3A073;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: DM Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration-line: underline;
    text-align: center;
    padding: 10px 5px 20px 5px;
    position: relative;

}
}